@{
    ViewData["Title"] = "Sobre";
}

<div class="sobre-content py-4 px-4 bg-light container">
    <h2 class="text-center">Sobre Marcos's Movies</h2>
    <h3 class="text-center">O Catálogo Mais Completo Com os Melhores Filmes já Produzidos </h3>
    <br />
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec molestie lectus. Sed tincidunt nibh massa, eu scelerisque sem consectetur congue. Duis sagittis elit vitae leo convallis viverra. Ut sit amet mauris nunc. Maecenas finibus cursus nulla, sed volutpat sem faucibus ut. Donec mauris turpis, vehicula quis sodales in, ornare ut urna.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec molestie lectus. Sed tincidunt nibh massa, eu scelerisque sem consectetur congue. Duis sagittis elit vitae leo convallis viverra. Ut sit amet mauris nunc. Maecenas finibus cursus nulla, sed volutpat sem faucibus ut. Donec mauris turpis, vehicula quis sodales in, ornare ut urna.
    </p>
</div>
