@{
    ViewData["Title"] = "Contato";
}

<div class="sobre-content py-4 px-4 bg-light container">
    <h1 class="text-center">Marcos's Movies Contato</h1>
    <hr />
    <div class="row mt-2">
        <div class="col">
            <address>
                Big Waterfall<br />
                Poranga, CE 62220-000<br />
                <abbr title="Phone">P: (86) 98173-2880</abbr>
            </address>

            <address>
                <strong>Email:</strong> <a href="mailto:marcospacheco1011@gmail.com">marcospacheco10111@gmail.com</a><br />
                <strong>Github:</strong> <a href="https://github.com/uchoamp" target="_bank">github@uchoamp</a><br />
            </address>
        </div>
        <div class="col">
            <img src="https://dummyimage.com/600x750/000/fff&text=Some+Image" class="rounded" />
        </div>
    </div>
    <hr />
</div>

