@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid home-banner text-white">

    <div class="row h-100 text-white">
        <div class="col banner-content-left">
            <h1>
                Marcos's Movies
            </h1>
            <h3>
                Filmes e Cinemas
            </h3>
        </div>
        <div class="col d-flex justify-content-end align-items-end banner-content-right">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget turpis sed risus luctus dictum. Curabitur tempor pharetra velit vitae vehicula. Nunc eros urna, sagittis vel ligula et, tincidunt aliquam diam. '
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget turpis sed risus luctus dictum. Curabitur tempor pharetra velit vitae vehicula. Nunc eros urna, sagittis vel ligula et, tincidunt aliquam diam. '
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget turpis sed risus luctus dictum. Curabitur tempor pharetra velit vitae vehicula. Nunc eros urna, sagittis vel ligula et, tincidunt aliquam diam. '
            </p>
        </div>
    </div>
</div>
<div class="p-2 border container-fluid bg-white home-some-content px-5">
    <div class="row justify-content-around">
        <div class="col p-2 ">
            <h5 class="text-dark text-center">Lorem Impsum</h5>
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget turpis sed risus luctus dictum. Curabitur tempor pharetra velit vitae vehicula. Nunc eros urna, sagittis vel ligula et, tincidunt aliquam diam. '
            </p>
        </div>
        <div class="col p-2 ">
            <h5 class="text-dark text-center">Lorem Impsum</h5>
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget turpis sed risus luctus dictum. Curabitur tempor pharetra velit vitae vehicula. Nunc eros urna, sagittis vel ligula et, tincidunt aliquam diam. '
            </p>
        </div>
        <div class="col p-2 ">
            <h5 class="text-dark text-center">Lorem Impsum</h5>
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget turpis sed risus luctus dictum. Curabitur tempor pharetra velit vitae vehicula. Nunc eros urna, sagittis vel ligula et, tincidunt aliquam diam. '
            </p>
        </div>
    </div>
</div>

