@{
    ViewData["Title"] = "Bem Vindo!";
}

<h2>
    Marcos - Seja Bem-Vindo!!
</h2>

<ul>

@for (int i = 0; i < (int)ViewData["NumVezes"];i++)
{
    <li>
        @ViewData["Mensagem"]
    </li>
    <li>
        @ViewData["Mensagem"]
    </li>
}
</ul>
